<style type="text/css">
	header h1,
	header nav {
		display: inline-block;
	}

</style>

<header>

	<p>
		ny images™ is a collection of 30 curated images sent to your inbox on the first of every month.
	</p>

	<nav>
		<ul>
			<li class="nyimages__1" data-target="nyimages__1">1</li>
			<li class="nyimages__2" data-target="nyimages__2">2</li>
			<li class="nyimages__3" data-target="nyimages__3">3</li>
			<li class="nyimages__4" data-target="nyimages__4">4</li>
			<li class="nyimages__5" data-target="nyimages__5">5</li>
			<li class="nyimages__6" data-target="nyimages__6">6</li>
		</ul>
	</nav>

	<!--

	<nav>
		<ul>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-02-01-2023/images/tyl4.png">
				<a href="https://notreyork.github.io/ny_images-02-01-2023/" target="_blank">1</a>
			</li>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-03-01-2023/images/IMG_7947.jpg">
				<a href="https://notreyork.github.io/ny_images-03-01-2023/" target="_blank">2</a>
			</li>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-04-01-2023/images/IMG_8730.jpeg">
				<a href="https://notreyork.github.io/ny_images-04-01-2023/" target="_blank">3</a>
			</li>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-05-01-2023/images/IMG_9530.jpeg">
				<a href="https://notreyork.github.io/ny_images-05-01-2023/" target="_blank">4</a>
			</li>


			<li>
				<a href="https://notreyork.github.io/ny_images-06-01-2023/">5</a>
			</li>


			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-09-01-2023/images/IMG_0972.jpg">
				<a href="https://notreyork.github.io/ny_images-09-01-2023/" target="_blank">6</a>
			</li>


		</ul>
	</nav>

	-->
</header>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('nav ul li').on('click', function() {
      // Hide all divs
      $('div[class^="nyimages__"]').hide();

      // Show the matching div
      var className = $(this).attr('class');
      $('.' + className).show();

      // Remove underline from all li elements
      $('nav ul li').removeClass('active');

      // Add underline to the clicked li
      $(this).addClass('active');
    });
  });
</script>
