<header>

	<p>
		<i>ny images™</i> is a collection of 50 curated images sent to to your inbox on the first of every month.
		Visit <a href="https://notreyork.com/" target="_blank">www.notreyork.com</a> to subscribe.
	</p>

	<h1>Archive:</h1>

	<nav>
		<ul>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-02-01-2023/images/tyl4.png">
				<a href="https://notreyork.github.io/ny_images-02-01-2023/" target="_blank">1</a>
			</li>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-03-01-2023/images/IMG_7947.jpg">
				<a href="https://notreyork.github.io/ny_images-03-01-2023/" target="_blank">2</a>
			</li>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-04-01-2023/images/IMG_8730.jpeg">
				<a href="https://notreyork.github.io/ny_images-04-01-2023/" target="_blank">3</a>
			</li>

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-05-01-2023/images/IMG_9583.jpeg">
				<a href="https://notreyork.github.io/ny_images-05-01-2023/" target="_blank">4</a>
			</li>

			<!--

			<li>
				<a href="https://notreyork.github.io/ny_images-06-01-2023/">5</a>
			</li>

			-->

			<li class="okhover" data-okimage="https://notreyork.github.io/ny_images-09-01-2023/images/IMG_0972.jpg">
				<a href="https://notreyork.github.io/ny_images-09-01-2023/" target="_blank">6</a>
			</li>


		</ul>
	</nav>
</header>