<header>

	<p>
		<i>ny images™</i> is a collection of 50 curated images sent to to your inbox on the first of every month.
		Visit <a href="https://notreyork.com/" target="_blank">www.notreyork.com</a> to subscribe.
	</p>

	<h1>Archive</h1>

	<nav>
		<ul>

			<li>
				<a href="https://notreyork.github.io/ny_images-02-01-2023/" target="_blank">1</a>
			</li>

			<li>
				<a href="https://notreyork.github.io/ny_images-03-01-2023/" target="_blank">2</a>
			</li>

			<li>
				<a href="https://notreyork.github.io/ny_images-04-01-2023/" target="_blank">3</a>
			</li>

			<li>
				<a href="https://notreyork.github.io/ny_images-05-01-2023/" target="_blank">4</a>
			</li>

			<!--

			<li>
				<a href="https://notreyork.github.io/ny_images-06-01-2023/">5</a>
			</li>

			-->


		</ul>
	</nav>
</header>